/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P', fantasy;
  --font-size: 18px;
  --inter-font-weight-text: 400;
  --accent-font-weight-text: 400;


  --bg-image: repeating-linear-gradient(
    to right,
    #d3d3d3 0 2px,
    transparent 2px 4px
  ),
  repeating-linear-gradient(
    to bottom,
    #d3d3d3 0 2px,
    transparent 2px 4px
  ),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --bg-color: #ffffff;
  --border-color: #000000;
  --width-header-box: 700px;


}




